
    
   
  <div class="container mtb" style="background: yellow; border: solid black 4px; width: 90%;">
      <!--
      <img src="{{ "/assets/img/logos/SGCI-NSF-lfachack.png" | prepend: site.baseurl }}" width="320px" style="float: right;"/>
      -->    
  <h2><i class="fa fa-bell" style="color: goldenrod; padding: 2px; margin: 0px;"></i> Deliverables Reminder!</h2>
      <p>
              Prior to the first presentation, all teams must submit the below deliverables. Teams that do not will receive an automatic 20pt deduction from their over all score during judging. You can find some example final presentation Github repositories and projects at <a href="http://hackhpc.org/pasthacks" target="_blank">HackHPC.org</a> The full schedule for the event can be viewed here.
  <br>
  <br>
  <strong>Due Monday 03/6/23 by 6:00p(EST)/5:00p(CT)/4:00p(PT)</strong> <br><em style="color: red;"> NOTE: If not posted by due date and time 20pt automatic deduction from final judging score.</em>
  <br><br>
  
  <strong><u>Deliverables Check List:</u>
  <ul class="presentations-list" style="margin-left: 30px;">
  <li>Github Repository Link Posted to the HackHPC Discord "#hackthethreat23" Channel</li>
  <li>Source code Including Comments</li>
  <li>README.md with a project description</li>
  <li>PDF of presentation</li>
  <ul class="presentations-list" style="margin-left: 30px;">
      <li>Team members including mentors/co-mentors with pictures</li>
      <li>Use of technology in the project</li>
      <li>Impact of the project on Environmental, Social, and/or Cybersecurity Threats</li>
  </ul>
  
  </ul></strong>
  <br>
  </p>
  
  
  
  </div><!--/container -->
