{% if site.data.profile.experience %}
  <p class="title">{{ site.theme_settings.experience_title }}</p>
  <ul class="exper-list">
    {% for exp in site.data.profile.experience %}
    <li class="meta">
      <p class="date">{{ exp.start }} 
          {% if exp.end %}
          - {{ exp.end }}
          {% endif %}
      </p>
      <p class="description">
        {% if exp.url %}
        <a href="{{ exp.url }}"> {{ exp.experience }} </a></p>
        {% else %}
        {{ exp.experience }}</p>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}