
<div class="carousel">
  <div class="progress-bar progress-bar--primary hide-on-desktop">
    <div class="progress-bar__fill"></div>
  </div>

<carouselheader class="main-post-wrapper">
  
  <div class="slides">

    <article class="main-post main-post--active">
      <div class="main-post__image">
        <img src="{{ site.baseurl }}/assets/img/event-images/hackthethreat23-kickoffpicure-500px.png" alt="Hack the Threat: Kick-Off!" />
      </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">03/02/2023</span>
        </div>
        <a  href="./resources#Hackathon%20Kick-Off!" style="color: white;"><h1 class="main-post__title">Kick-Off!</h1></a>

      </div>
    </article>
 
 

      {% for _ in site.data.presentations %}
      {% assign presentation = _.presentation %}
        {%- if presentation.carousel %}
      
          {% for post in presentation.carousel %}

        <article class="main-post main-post--not-active">
          <div class="main-post__image">
            <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ presentation.title }}" />
          </div>
          <div class="main-post__content">
            <div class="main-post__tag-wrapper">
              <span class="main-post__tag">{{ presentation.date }}</span>
            </div>
            <a  href="./resources#{{ presentation.title }}" style="color: white;"><h1 class="main-post__title">{{ post.posttitle }}</h1></a>
    
          </div>
        </article>
        
        {% endfor %}

        
        {% endif %}
        {% endfor %}
        
     
      
      </div>
</carouselheader >



<div class="posts-wrapper hide-on-mobile">
  <article class="post post--active">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
  </article>
    

{% for _ in site.data.presentations %}
      {% assign presentation = _.presentation %}
        {%- if presentation.carousel %}

      
          {% for post in presentation.carousel %} 
          
  
  <article class="post">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
   
  </article>
  {% endfor %}

        
  {% endif %}
  {% endfor %}
</div>


</div>





<!-- modal -->
<script type="text/javascript" src="{{ '/assets/js/imagecarouseljs.js' | relative_url }}"></script>