<section id="project">
  {% include deliverables.html %}
  <div class="project-wrap">
    <p class="title">{{ site.theme_settings.projects_title }}</p>
    <div class="card-container">
      {% for _ in site.data.projects %}
      {% assign project = _.project %}
      {% assign id = id | plus: 1 %}
      <div class="card-wrapper">
        <div class="card">
          {% if project.image %}
          <div class="img-wrap">
            <img src="{{ project.image | relative_url }}" alt="{{ project.teamname }}">
          </div>
          {% endif %}
          <div class="text-wrap {% if project.image %}{% endif %}">
            <div class="title-wrap">
              <p class="date">{{ project.date }}</p>
              <div class="title">{{ project.teamname }}</div>
            </div>
            <div class="meta">
              {% if project.skills %}
              &middot;
              {% for skill in project.skills %}
              <span>#{{ skill }}</span>
              {% endfor %}
              {% endif %}
            </div>
            <div >
              <strong>Members:</strong><br>
              {% assign teammembers = project.members | sort: "name" %}
              {% for member in teammembers %}
                  {% if member.role contains "Mentor" %} 
                    <em> ({{ member.role }})</em>
                      {{ member.name }}
                  {% endif %}
                  {% if member.role == "Member" %} 
                    {{ member.name }} 
                  {% endif %}
                  {%- if forloop.last %}
                  <br>
                  {% else %}
                  , 
                  {% endif %}

              {% endfor %}

            </div>
          </div>
          <div class="icons">
            {% if project.url %}
            {% assign url = project.url %}
            <a href="{{ url }}"><i class="far fa-eye"></i></a>
            {% else %}
            <a href="{{ site.baseurl }}/teams/#{{ project.name }}"><i class="far fa-eye"></i></a>
            {% endif %}

            {% if project.modal %}
            <a title="{{ id }}" onClick="open_modal(this.title)" class="modal-btn"><i class="fas fa-plus"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Modal Box -->
      {% if project.modal %}
      {% include modal.html %}
      {% endif %}
      <!-- Modal Box -->
      {% endfor %}
    </div>
  </div>
  <div class="bg"></div>
  
</section>

<!-- modal -->
<script type="text/javascript" src="{{ '/assets/js/modal.js' | relative_url }}"></script>