<section id="project">
  <div class="project-wrap">
    <p class="title">{{ site.theme_settings.projects_title }}</p>
    <div class="card-container">
      {% for _ in site.data.projects %}
      {% assign project = _.project %}
      {% assign id = id | plus: 1 %}
      <div class="card-wrapper">
        <div class="card">
          {% if project.image %}
          <div class="img-wrap">
            <img src="{{ project.image | relative_url }}" alt="{{ project.teamname }}">
          </div>
          {% endif %}
          <div class="text-wrap {% if project.image %}{% endif %}">
            <div class="title-wrap">
              <p class="date">{{ project.date }}</p>
              <div ><h3 style="color: #ae122a;">{{ project.emojicode}} {{ project.teamname }}</h3></div>
            </div>
            <div class="meta">
              {% if project.skills %}
              &middot;
              {% for skill in project.skills %}
              <span>#{{ skill }}</span>
              {% endfor %}
              {% endif %}
            </div>
            <div >
              <h5 style="color: #ae122a;">Members:</h5>
              {% assign teammembers = project.members | sort: "name" %}
              {% for member in teammembers %}
                  {% if member.role contains "Mentor" %} 
                    <strong> [{{ member.role }}]</strong>
                      {{ member.name }} <a href="{{ member.url }}" target="_blank">({{ member.affinitals }})</a>
                  {% endif %}
                  {% if member.role == "Member" %} 
                    {{ member.name }} <a href="{{ member.url }}" target="_blank">({{ member.affinitals }})</a>
                  {% endif %}
                  {%- if forloop.last %}
                  <br>
                  {% else %}
                  , 
                  {% endif %}

              {% endfor %}

              {% if project.awards %}
              <h5 style="color: #ae122a;">Awards:</h5>  
              <ul class="presentations-list" style="list-style-type: none; margin-left: 30px;"></ul>
              {% for award in project.awards %} 
              <li style="list-style-type: none; margin-left: 30px;"><strong style="color: goldenrod;">🏆 {{ award.name }}</strong></li>
    
              {% endfor %}
              </ul>
            {% endif %}

            </div>
          </div>
          <div class="icons">
            {% if project.url %}
            {% assign url = project.url %}
            <a href="{{ url }}"><i class="far fa-eye"></i></a>
            {% else %}
            <a href="{{ site.baseurl }}/teams/#{{ project.name }}"><i class="far fa-eye"></i></a>
            {% endif %}

            {% if project.modal %}
            <a title="{{ id }}" onClick="open_modal(this.title)" class="modal-btn"><i class="fas fa-plus"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Modal Box -->
      {% if project.modal %}
      {% include modal.html %}
      {% endif %}
      <!-- Modal Box -->
      {% endfor %}
    </div>
  </div>
  <div class="bg"></div>
  
</section>

<!-- modal -->
<script type="text/javascript" src="{{ '/assets/js/modal.js' | relative_url }}"></script>