---
layout: page
---


<div id="presentations">
  <section class="bg">
   
  </section>
  <h1 class="title">{{ page.title }}</h1>
  Jump To: |
  {% for _ in site.data.projects %}
      {% assign team = _.project %}
    <strong><a href="#{{ team.teamname }}" target="_self"> {{ team.emojicode }} {{ team.teamname }}</a></strong> | 
  {% endfor %}
  <br><br>
  <table>
  {% for _ in site.data.projects %}
      {% assign team = _.project %}
      <tr >
        <td colspan="2" style="width: 40%">
          <hr>
          <h1 id="{{ team.teamname }}" style="text-align: left; color: #013366;">{{ team.emojicode }} {{ team.teamname }} </h1>
          <hr>
        
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">
          <h3>Members:</h3>
          {% for member in team.members %}
          <ul class="presentations-list">
            <li>
              {% if member.role contains "Mentor" %} 
                <strong> [{{ member.role }}]</strong> <a href="mailto:{{ member.email | encode_email }}" target="_blank" title="Email">
                  {{ member.name }}</a> <br>
                <em><a href="{{member.url}}" target=_blank style="color: darkgrey;"> {{ member.affiliation }} </a></em>
                <br>
              {% endif %}
              {% if member.role == "Member" %} 
                {{ member.name }} <br>
                <em><a href="{{member.url}}" target=_blank style="color: darkgrey;"> {{ member.affiliation }} </a></em>
              
              {% endif %}
            </li>
          </ul>
          {% endfor %}
        {% if team.summary %}
          <h5 >Goal(s):</h5>
          <p style="margin-left: 20px;"> {{ team.summary }} </p>
        {% endif %}
        {% if team.awards %}
          <h3>Awards:</h3>  
          <ul class="presentations-list" style="list-style-type: none; margin-left: 30px;"></ul>
          {% for award in team.awards %} 
          <li style="list-style-type: none; margin-left: 30px;"><strong style="color: goldenrod;">🏆 {{ award.name }}</strong></li>

          {% endfor %}
          </ul>
        {% endif %}
        
        
        {% if team.links %}
            <h3>Links:</h3>
            <ul class="presentations-list" style="list-style-type: none; margin-left: 30px;">
            {% for link in team.links %} 
              <li>
                {% if link.url contains '://' -%}
                  <a href="{{ link.url }}" class="btn btn-sm z-depth-0" role="button" style="color: #013366;"> 
                {%- else -%}
                  <a href="{{ link.url | relative_url }}" class="btn btn-sm z-depth-0" role="button" style="color: #013366;"> 
                {%- endif %}
                {% if link.icon %}
                  <i class="{{ link.icon }}" 
                    {% if link.iconcolor %}
                    style="color: {{ link.iconcolor }}"
                    {% endif %}
                    ></i> 
                  {% endif %}
                  {{ link.name }}</a>
              </li>
            {% endfor %}
          </ul>

        {% endif %}
        
        </td>
        <td style="padding: 20px;">
          {% if team.images %}
            {% for image in team.images %}
            {% if image.url %}
              {% if image.url contains '://' -%}
                <a href="{{ image.url }}"><img src="{{ image.imagelink | relative_url }}" width="250" alt="{{ image.name }}" style="border: 2px solid black;"></a> 
              {%- else -%}
                <a href="{{ image.url | relative_url }}"><img src="{{ image.imagelink | relative_url }}" width="250" alt="{{ image.name }}" style="border: 2px solid black;"></a> 
              {%- endif %}
            {% else %}
            <img src="{{ image.imagelink | relative_url }}" height="250" alt="{{ image.name }}" style="border: 2px solid black;">
            {% endif %}
            <br>
            <strong>{{ image.name }}</strong>
            <br>
            <br>

            {% endfor %}
          {% endif %}
          
          <br>
          <br>
        </td>
      </tr>
  {% endfor %}
</table>
  <br>
  {% include projects.html %}

</div>